@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}


.mainNav{
    height: 50px;
    /* border: 2px solid red; */
    padding: 10px;
    background-color: rgb(58, 58, 75);
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-bottom-left-radius: 40px;
}
.navItems{
    display: flex;
    align-items: center;
    width: fit-content;
    list-style: none;
}

.navListItems{
    margin: 0 20px;
}
.navListItems a{
    color: white;
    text-decoration: none;
    font-family: 'Belanosima', sans-serif;
}

.navListItems a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.contactSection{
    width: 100vw;
    height: 100%;
    background-color: rgb(58, 58, 75);
    color: white;
    padding: 20px 0;
}

.contSection{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 70vh; */
    /* border: 2px solid red; */
}

.contactInfo{
    flex-direction: column;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    width: 40%;
    /* border: 2px solid red; */
}
.contactInfo h2{
    font-size: 6rem;
    color: gray;
    margin-left: 35px;
}
.contactInfo p{
    font-size: 24px;
    width: 70%;
    margin: 10px 0;
    margin-left: 35px;

}
.logo img{
    height: 400px;
}

.social{
    display: flex;
}
.social >div> li{
    margin: 20px 20px;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
}
.social >div> li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}
.social >div> li:hover{
    cursor: pointer;
    text-decoration: underline 2px;
}
.social >div> li >img{
    margin: 0px 5px;
}
